.ProfileComp_container {
  width: 22vw;
  background-color: var(--dark);
  color: var(--textColor1);
  display: flex;
  gap: 2vw;
  padding: 0vw 1vw;
  padding: .3vw 1vw;
  border-radius: 6px;
  align-items: center;
  cursor: pointer;
}

.ProfileComp_container img {
  width: 4vw;
  height: 4vw;
  cursor: pointer;
  border-radius: 50%;
}
.ProfileComp_container h5 {
  margin: 0vw 0vw;
  width: 8vw;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.ProfileComp_popper {
  position: absolute;
  z-index: 10;
  top: 4.5vw;
  right: 3vw;
  padding: 1vw;
  color: var(--textColor1);
  width: 12vw;
  height: 10vw;
  display: flex;
  gap: 1vw;
  flex-direction: column;
  border-radius: 5px;
  transition: all 1s ease-in-out;
  background-color: var(--dark);
}
.ProfilePage_container {
  width: 100vw;
  height: 90vh;
  position: relative;
  right: 24px;
  bottom: 24px;
  padding-left: 15vw;
  padding-top: 10vw;
  background-image: url(../../Assets/img/backPanel.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.ProfilePage_form_box {
  width: 30vw;
  display: flex;
  flex-direction: column;
  gap: 2vw;
}
.ProfilePage_form {
  width: 60vw;
  display: flex;
  gap: 10vw;
}
.ProfilePage_form img {
  width: 20vw;
  height: 20vw;
  border-radius: 100%;
}
